* {
    background-color: bisque;
}
.cabeza {
    text-align: center;
}
#inicio{
    display: inline-block;
    padding: 5px;
    list-style: none;
}
#contacto{
    display: inline-block;
    padding: 5px;
    list-style: none;
}
.texto {
    text-align: left;
    border: 1px solid black;
    float: left;
}